* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --backgroundColor: "#2B2B2B"
}
html {
  font-size: 62.5%;
}
.home {
  color: white;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  section {
    background-color: #141414;
    height: 100vh;
    scroll-snap-align: start;
  }

  nav {
    position: fixed;
    right: 0;
    top: 40%;
    ul {
      margin: 0;
      padding: 0;
      padding: 1rem;
      li {
        list-style: none;
        cursor: pointer;
        font-size: 2rem;
      }
    }
  }
}
@media (max-width: "481px") {
 html {
   font-size: 60%;
 }
}