*:focus {
    outline: none;
}
.contact {
    padding: 5rem 7rem;
        display: grid;
        grid-template-rows: repeat(2,minmax(10rem,auto));
        padding: 5rem 7rem;
        width: 100%;
        div {
            display: flex;
            flex-direction: column;
            text-align: center;
            h1 {
                font-size: 3rem;
                margin: 0;
            }
            p {
                margin-top: 1rem;
                font-size: 1.5rem;
                color: green;
                font-weight: bolder;
            }
        }
        form {
            display: flex;
            flex-direction: column;
            text-align: left;
            width: 50%;
            color: white;
            input {
            color: white;
            width: 40%;
            margin: 1rem 0;
            border: none;
            background-color:#2B2B2B;
            padding: 0.5rem;
            border-radius: 10px;
        }
        button {
            margin-top: 3rem;
            border-radius: 10px;
            width: 40%;
            padding: 0.5rem;
            border: none;
            color: white;
            background-color:#222222;
            cursor: pointer;
            color: green;
            font-weight: bolder;
        }
        }
}
#message {
   height: 10rem;
}