.home-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 5rem 7rem;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    width: 70%;
    min-width: 40rem;
    h1 {
        margin: 0;
        font-size: 3rem;
    }
    p {
        font-size: 1.5rem;
        margin-top: 3rem;
        color: rgba(255, 255, 255, 0.801);
    }
    span {
        font-weight: bolder;
    }
}
.images {
    width: 50%;
    img {
    height: 100%;
    width: 100%;
    }
}
.advantages, .disadvantages {
    display: flex;
    flex-direction: column;
    align-items: center;
    ul {
        width: 100%;
    }
    li {
    list-style: none;
    padding: 1rem 5rem;
    text-align: left;
    font-size: 1.2rem;
    }
}
.advantages {
    h1 {
        color: green;
        margin-bottom: 1rem;
    }
}
.disadvantages {
    h1 {
        color: rgb(253, 67, 67);
        margin-bottom: 1rem;
    }
}
@media (max-width: "1024px") {
    .home-content div {
        text-align: center;
    }
    .home-content div h1 {
        font-size: 2.5rem;
    }
    .home-content div p {
        font-size: 1.3rem;
    }
}
@media (max-width: "769px") {
    
}
@media (max-width: "481px") {
    .home-content {
        padding: 3rem 4rem;
    }
    .home-content .advantages {
        h1 {
            font-size: 2rem !important;
        }
    }
    .home-content .disadvantages {
        h1 {
            font-size: 2rem !important;
        }
    }

}